body {
background-color: black;
}

.row-cinza {
background-color: #eaeaea;
margin-bottom: 8px;
}

.navbar-brand img {
width: 70%;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 21px;
    font-weight: 700;
}

.banner  {
    padding: 0px;
}
.centralize {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.destaques {
    padding: 20px 0px;
}

.card {
    width: 18rem;
    background-color: black;
}

.card-title {
    color: #eaeaea;
}

.card-text {
 color: white;   
}

.btn-novo {
    background-color: white;
color: black;
border-color: white;
text-transform: uppercase;
font-weight: 600;
}
.btn-novo:hover {
    background-color: goldenrod;
}

.row-final {
    background-color: rgb(138, 138, 138);
    padding: 30px 0px;
}

.ilustra {
    display: flex;
    justify-content: center;
}
form {
background-color: aliceblue;
padding: 15px;
margin-top: 15px;
}
footer {
    background-color: white;  
    height: 80px;  
}