.tudo-inicio {
    display: flex;
    background-color: rgb(220, 220, 220);
    text-align: center;
    gap: 200px;
    height: 200px;
}
nav{
    text-align: center;
}
.noticias {
    display: flex;
    background-color: rgb(220, 220, 220);
   text-align: center;
   padding: 10px;
}
.logo2 {
    text-align: right;
}

